body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #363b3f;
    color: whitesmoke;
  }



.btnContainer{
    display: flex;
    justify-content: end;
}
#downloadButton:hover{
    padding: 5px 20px;
    background-color: rgb(12, 246, 168);
    border-radius: 20px 10px;

}
  .section {
    width: 75%;
    margin: 30px auto;
  }
  .Summary  h2 {
    text-align: center;
  }
  .Summary  p {
    text-align: center;
  }
  .experience {
    font-style: italic;
  }

  .education {
    font-weight: bold;
  }

  .skills {
    list-style-type: none;
    padding: 0;
  }

  .skills li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #874caf;
    color: white;
    padding: 10px 10px;
    border-radius: 5px 10px;
  }
  .skills li:hover {
    background-color: #160338
  }
  .profileSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .profileName img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 4px solid whitesmoke;
    box-shadow: -10px 10px 10px rgb(45, 44, 47);
  }